body {
    background-color: #1c1c26;
}

label {
    color: white;
}

.topDiv {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(162, 248, 162);
    padding: 10px;
}

#mainDiv {
    margin: auto;
    width: 75%;
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
}

#redDiv {
    margin: auto;
    width: 75%;
    border: 1px solid rgb(255, 0, 0);
    padding:10px;
}

#greenDiv {
    margin: auto;
    width: 75%;
    border: 1px solid rgb(0, 255, 0);
    padding: 10px;
}

#blueDiv {
    margin: auto;
    width: 75%;
    border: 1px solid rgb(0, 0, 255);
    padding: 10px;
}
